@using Microsoft.AspNetCore.Mvc.ModelBinding

@model MES_F1.Models.ViewModels.CalendarViewModel

<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
    <script src="~/js/task-edit.js"></script>
</head>
<body>
    @{
        ViewData["Title"] = "Your tasks";
    }

    @if (Model.TeamId == null)
    {
        <h4>You are not assigned to any team. Contact your director</h4>
    }
    else
    {
        <div id="calendarContainer" data-team-id="@ViewBag.TeamId" style="margin-top: 30px;">
            <h4>Weekly Task Schedule</h4>
            <div id="calendar" style="max-width: 100%; height: 600px;"></div>
        </div>
    }

</body>