@{
}
@model MES_F1.Models.ViewModels.ProductionInitViewModel

<h2>Start parts production</h2>

<form asp-action="ProductionCreate" method="post">
    <div>
        <label asp-for="InstructionId">Choose part:</label>
        <select asp-for="InstructionId" class="form-control" required onchange="this.form.submit()">
            <option value="">-- Choose part --</option>
            @foreach (var Instruction in Model.Instructions)
            {
                <option value="@Instruction.InstructionId" selected="@(Model.InstructionId == Instruction.InstructionId ? "selected" : null)">
                    @Instruction.InstructionName
                </option>
            }
        </select>

        <input type="hidden" asp-for="State" value="None" />
    </div>
</form>