@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MES_F1.Models.ProductionTask

@foreach (ProductionTask task in ViewBag.ProductionTasks)
{
        <div> 
            <p>
                @task.ProductionTaskId
            </p>
        </div>

}
