@model MES_F1.Models.ViewModels.TaskEditViewModel
@using Microsoft.AspNetCore.Mvc.ModelBinding

<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
    <script src="~/js/task-edit.js"></script>
</head>
<body>
@{
    ViewData["Title"] = "Edit task";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}

<h2>Edit Task - @Model.TaskName</h2>
<h5>Estimated time for this task - @Model.EstimatedDurationMinutes minutes</h5>

<form asp-action="TaskSave" method="post">
    <input type="hidden" asp-for="InstructionStep" />
    <input type="hidden" asp-for="TaskId" />
    <input type="hidden" asp-for="EstimatedDurationMinutes" />
    <input type="hidden" asp-for="TaskName" />

        <div class="form-group">
            <label asp-for="TeamId">Zespół</label>
            <select asp-for="TeamId" class="form-control" asp-items="Model.TeamSelectList" id="teamSelect">
                <option value="">-- Select Team --</option>
            </select>
        </div>

    <div class="form-group">
        <label asp-for="MachineId">Machine</label>
        <select asp-for="MachineId" class="form-control" asp-items="@(new SelectList(Model.Machines, "MachineId", "MachineName"))"></select>
    </div>

    <div class="form-group">
        <label asp-for="PlannedStartTime">Planned Start</label>
        <input asp-for="PlannedStartTime" class="form-control" type="datetime-local" id="startTime" />
    </div>

    <div class="form-group">
        <label asp-for="PlannedEndTime">Planned End</label>
        <input asp-for="PlannedEndTime" class="form-control" type="datetime-local" id="endTime" readonly />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div id="teamTasks" class="form-group mt-4">
    <label>Scheduled Tasks for Team</label>
    <ul id="taskList">
    </ul>
</div>

<div id="calendarContainer" style="margin-top: 30px;">
    <h4>Weekly Task Schedule</h4>
    <div id="calendar" style="max-width: 100%; height: 600px;"></div>
</div>

</body>
</html>