@using MES_F1.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if (SignInManager.IsSignedIn(User))
    {
        <p> Welcome to Manufacturing Execution System for F1</p>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
        <p3>This app is for corporate use only. Please log in to continue</p3>
    }

</div>